<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="rviz" default="true"/>
  <arg name="robot_type" default="mp_500"/>
  <arg name="robot_world" default="neo_track1.world"/>
  <arg name="world_name_global" default="$(find neo_simulation)/worlds/$(arg robot_world)"/>
  <arg name="software_joystick" value="true"/>
  <arg name="world" default="empty"/> 
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>




  <arg name="autonomous_navigation" default="true"/>

  <!-- <include file="$(find neo_simulation)/launch/$(arg robot_type)/$(arg robot_type)_simulation_basic.launch">
    <arg name="world_name_global" value="$(find neo_simulation)/worlds/$(arg robot_world)"/>
  </include> -->

  <group if="$(arg software_joystick)">
    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_keyboard"  output="screen">
    </node>
  </group>

  <group if="$(arg autonomous_navigation)">
    <include file="$(find neo_simulation)/launch/$(arg robot_type)/$(arg robot_type)_autonomous_navigation.launch"/>
  </group>


  <group if="$(arg rviz)">
    <include file="$(find neo_simulation)/launch/$(arg robot_type)/$(arg robot_type)_rviz.launch"/>
  </group>

  <!-- UR-5 -->

  <include file="$(dirname)/ur_gazebo/ur5_bringup.launch">
    <arg name='tf_prefix' value=''/>
  </include>

  <include file="$(dirname)/ur5_moveit_config/launch/moveit_planning_execution.launch">
    <arg name='sim' value='true'/>
  </include>

  <include file="$(dirname)/ur5_moveit_config/launch/moveit_rviz.launch">
  </include>

</launch>