<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- <arg name="robot_type" default="mp_500"/>
  <arg name="robot_world" default="neo_track1.world"/>

  <arg name="rviz" default="true"/>


  <arg name="autonomous_navigation" default="true"/>

  <include file="$(find neo_simulation)/launch/$(arg robot_type)/$(arg robot_type)_simulation_basic.launch">
    <arg name="world_name_global" value="$(find neo_simulation)/worlds/$(arg robot_world)"/>
  </include>

  <group if="$(arg autonomous_navigation)">
    <include file="$(find neo_simulation)/launch/$(arg robot_type)/$(arg robot_type)_autonomous_navigation.launch"/>
  </group>


  <group if="$(arg rviz)">
    <include file="$(find neo_simulation)/launch/$(arg robot_type)/$(arg robot_type)_rviz.launch"/>
  </group> -->

  <include file="$(find ur_gazebo)/launch/ur5_bringup.launch">
  </include>

  <include file="$(find ur5_moveit_config)/launch/moveit_planning_execution.launch">
    <arg name='sim' value='true'/>
  </include>

  <include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch">
  </include>

</launch>